<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.fic.epub.test"
	version 	= "1.0.0">

	<name>FIC ePub Test</name>

	<description>
		FIC ePub Test
	</description>

	<author href="http://github.com/FIC"
		email="ruteggertrash@hotmail.com">
		FIC
	</author>

	<icon src="icon.png" gap:role="default" />

	<preference name="orientation" value="portrait" />
</widget>
